html,
body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow-x:hidden;
}
a {
	outline:0;
	color:#ff9900;
}
a:hover,
a:active,
a:focus {
	outline:0;
	color:#ff9900;
}

img {max-width: 100%;height: auto;}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-weight: 700;
}

.text-vertical-center h2 {
    font-weight: 700;
}


/** Custom Button Styles **/

.bar {
    display: block;
    width: 19px;
    margin-bottom: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
}
.barx {
    display: block;
    width: 19px;
    margin-bottom: 3px;
	font-family:arial;
    height: 30px;
    background-color: #fff;
    border-radius: 1px;
}
.btn-dark {
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
	padding:10px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 4px; 
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.7);
}


/** SIDE MENU **/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 0px;
    height: 100%;
    overflow-y: auto;
	background: rgba(0,0,0,0.9);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
}

#sidebar-wrapper.active {
    left: 0px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.center-line {
	width: 40px;
	height:6px;
	display: block;
	background-color: #ff9900;
	margin:0 auto;
	margin-bottom: 50px;
}


/* HEADER */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


footer {
	padding: 50px 0;
	background:#333;
	color:#fff;
}

.inicio {
    padding: 50px 0;
	background:white;
}

.about {
    padding: 50px 0;
    background: white;
}

.manifest {
    padding: 50px 0;
    background: url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.texto {
	padding:30px;
	text-align:justify;
	position:relative; 
	background:rgba(255, 255, 255, 0.6);
}
.who {
    padding: 50px 0;
    background: white;
}
.who .map {padding-bottom:24px;}
.participants {
	display:inline-block;
	padding:8px;
}
.participants img {padding-right:6px;}
.faq {
    padding: 50px 0;
	background:#f1f1f1;
}


.mypanel-title {
    font-weight: 800;
	color:#333;
	text-align: left;
}

.panel a {
	border:none;
	outline:none;
	text-decoration:none;
}

a:hover .panel-heading {
	background:#333333;
	transition:background 1s ease;
}
a:hover .mypanel-title {
	color:white;
	transition:background 1s ease;
}
.active .panel-heading {background:#333333;}
.active .mypanel-title {color:white;}

.panel-body a {color:#ff9900;}


/** CONTACT **/

.contact {
    padding: 50px 0;
    background: #f1f1f1;
}
.form-control:focus {
	border-color:#cccccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.3);
	outline: 0 none;
}



@media only screen and (max-width:992px) {
    .faq-right {
		margin-top:5px;
    }

}
